<mat-card>
  <mat-card-title>Login user:</mat-card-title>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [(ngModel)]="loginData.email" name="email" type="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" [(ngModel)]="loginData.pwd" name="password" type="password">
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" (click)="save()">Login</button>
</mat-card>