<mat-card>
  <mat-card-title>Register user:</mat-card-title>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" [(ngModel)]="registerData.name" name="name" type="text">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Description" [(ngModel)]="registerData.description" name="description" type="text">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [(ngModel)]="registerData.email" name="email" type="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" [(ngModel)]="registerData.pwd" name="password" type="password">
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" (click)="save()">Register</button>
</mat-card>